* {
    box-sizing: border-box;
}

h1, h2, h3 {
    text-align: center;
}

p {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
    font-size: 1em;
}

li {
    width: 83%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 1em;
}

figcaption {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 0.85em;
}

section {
    background-color: lightgray;
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    margin: auto;
}

input {
    display: block;
}

canvas[id*="tempSim"]{
    max-width: 700px;
    margin: auto;
}

canvas {
    /* border: 10px solid purple; */
    width: 300px;
    margin: 10px;
    background-color: white;
}

div[id="menu"] {
    width: 52%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
    /* border: 10px solid red; */
}

div[id="menu"] > p {
    margin: 10px 0;
    text-align: left;
}

label {
    display: flex;
}

img {
    display: block;
    margin: auto;
    width: 70%;
    max-width: 700px;
}

div[id*="rabbitHole"] {
    width: 200px;
    position: absolute;
    right: 30px;
    background-color: lightgray;
    padding: 20px;
    border-radius: 3px;
    border: 2px dotted black;
}

div[id*="rabbitHole"]:hover {
    box-shadow: 5px 5px 10px gray;
    cursor: pointer;
}


